.contact-container {
  margin: 170px auto; /* Center the container */
  text-align: center; /* Center text */
  color: white;
}

.contact-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info {
  margin-bottom: 10px;
}

.contact-form {
  margin-top: 20px;
  max-width: 400px; /* Limit the width */
  margin: 0 auto; /* Center the form */
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #555;
}
